# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
seuratTutorials.Rproj
.Rproj.user/

# Large data files
introduction/data/*
introduction/1_guidedClustering/rData/*